.product {
    flex: 1 1 auto;
    margin: 5px;
    width: 18%;
    &-card {
        border: 1px solid black;
        border-radius: 5px;
        padding-bottom: 10px;
        text-align: center;
        background: #fff;
    }
    &-img {
        max-width: 90%;
    }
    &-price {
        font-weight: 700;
        font-size: 1.1rem;
        color: rgb(187, 18, 116)
    }
    &-sku {
        font-weight: 700;
        & span {
            font-style: italic;
        }
    } 
    &-name {
        font-size: 1.3rem;
        color:rgb(12, 124, 128)
    }
    &-btn {
        border-radius: 25px;
        background: rgb(27, 96, 143);
        color: #fff;
        font-size: 1rem;
        padding: 10px 25px;
        outline: none;
        &:hover {
            background: #ddd;
            color: #000;
            border: none
        }
    }
}