.table-1 {
    box-sizing: border-box;
    width: 1170px;
    margin: 0 auto;
    border: 22px solid #3a4965;
    text-align: center;
    color: #737373;
    background: #fafafa;
    font-family: 'Arimo', sans-serif;
    border-collapse: collapse;
    text-transform: uppercase;
}

.pricing-plan, .service, .tariff-price, .plan-header, .button-cell {
    box-shadow: inset 1px 0 1px rgba(84,84,84,0.2);
    vertical-align: middle;
}

.pricing-plan {
    padding: 20px 0;
}
.fas, .far {
    margin-right: 12px;
    font-size: 22px;
}

.pricing-plan, .contact-btn, .buy-btn  {
    font-size: 18px;
    text-transform: uppercase;
}

.plan-header p:first-child {
    font-size: 18px;
    font-weight: 700;
    color: #484848;
}

.plan-header p:last-child {
    font-size: 30px;
    font-weight: 700;
    color: #484848;
}

.standart, .ultimate, .premium {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.standart {
    background: #89c331;
}

.ultimate {
    background: #f04a56;
}

.premium {
    background: #20807c;
}

.integer-part, .fraction-part {
    display: inline-block;
    vertical-align: middle;
}

.tariff-price {
    padding: 14px 0;
}

.integer-part {
    font-size: 60px;
    font-weight: 700;
    color: #484848;
}

.fraction-part {
    text-align: left;
}

.fraction-part p:first-child {
    font-size: 24px;
    font-weight: 700;
    color: #484848;
}

.fraction-part p:last-child {
    font-size: 18px;
    color: #484848;
}

.service {
    font-size: 18px;
}

.odd-row {
    background: #f2f2f2;
}

.even-row {
    background: #e3e3e3;
}

.button-cell {
    padding: 30px 0;
}

.button-cell:first-of-type {
    background: #dddddd;
}

.button-cell:nth-of-type(2), .button-cell:nth-of-type(4) {
    background: #eeeeee;
}

.button-cell:nth-of-type(3) {
    background: #f4f4f4;
}

.contact-btn, .buy-btn {
    border-radius: 5px;
    width: 192px;
    height: 49px;
    padding-top: 10px;
    color: #fff;
    border: none;
    outline: none;
    transition: all 1s ease-in-out;
}

.contact-btn {
    background: #484848;
    border-bottom: 9px solid #404040;
}

.background1 {
    background: #89c331;
    border-bottom: 9px solid #79b027;
}

.background2 {
    background: #f04a56;
    border-bottom: 9px solid #df3a46;
}

.background3 {
    background: #20807c;
    border-bottom: 9px solid #16736f;
}

.contact-btn:hover, .buy-btn:hover {
    transform: skew(15deg);
}
