.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
}

.images-wrapper {
    display: flex;
    justify-content: center;
}

.current {
    display: block;
}

.button-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.timer-container {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background: #3cb878;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 10px 0 10px 0;
}

.timer {
    color: #fff;
    font-size: 20px;
}
.control-button {
    width: 200px;
    padding: 10px 0;
    background: #3cb878;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    margin: 0 1.4em;
}

.control-button:hover {
    background: #9d9d9d;
    color: #000;
}