.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh
}

.container, .form, .error-text {
    align-self: center;
}

.price-content{
    display: flex;
    padding: 0.5em 0;
    height: 25px;
}

.input {
    outline: none;
}

.close-price-text {
    background: #e52f2f;
    border: #e52f2f;
    color: #000;
    margin-left: 6px;
    cursor: pointer;
}

.error-text {
    margin-top: 10px;
}

.onfocus-border {
    border: 1px solid #2db34a;
}

.error-border {
    border: 1px solid #e52f2f;
}

.input-text {
    color: #2db34a;
}