.footer {
  background-color: #000;
  text-align: center;
  padding: 25px 0 70px 0;
  &__header {
    @include capitalText ();
    margin-top: 50px;
    color: #FEFEFE;
  }
  &__text {
    margin-top: 22px;
    line-height: 28px;
    color: #B9B9B9;
  }
  &__social-icons {
  display: inline-block;
  margin-top: 49px;
  line-height: 34px;
  }
  &__social-icon {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    margin: 0 3px;
    &--rss {
      @include footerIcons(#F8902E);
    }
    &--facebook {
      @include footerIcons(#39599F);
    }
    &--twitter {
      @include footerIcons(#45B0E3);
    }
    &--dribbble {
      @include footerIcons(#D97AB0);
    }
    &--pinterest {
      @include footerIcons(#CC212C);
    }
  }
  &__address {
    margin-top: 45px;
    color: #B9B9B9;
    line-height: 26px;
  }
}

@include rwd($medium) {
  .footer__text, .footer__address {
    padding: 0 50px;
  }
}
@include rwd($small) {
  .footer__text, .footer__address {
    padding: 0 50px;
  }
}