@include rwd($small) {
  .container {
    padding: 0 50px;
  }
  .recent-posts__block:nth-child(2) {
    margin-top: 32px;
  }
  .header-menu {
    position: absolute;
    right: 0;
    top: 85px;
    background: #fff;
    line-height: 26px;
    width: 200px;
    &__list {
      display: none;
    }
    &__list-item {
      border-bottom: 2px solid #F5F5F5;
    }
    &__hamburger {
      margin: 23px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      float: right;
      width: 44px;
      height: 37px;
      background: #000;
      border: #000;
      outline: none
    }
    &__line {
      width: 17px;
      height: 2px;
      background: #fff;
      margin: 2px 0;
    }
    &__link {
      @include capitalText();
      color: #7C7C7C;
      text-decoration: none;
      margin: 0 15px;
      &:hover {
        color: $hover-color;
      }
    }
  }
}

@include rwd($medium) {
  .container {
    padding: 0 50px;
  }
  .header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0 0;
    position: static;
    width: 100%;
    &__hamburger {
      display: none;
    }
    &__list {
      @include flexBetween();
      width: 80%;
      margin: 42px 0;
      border-bottom: 0;
    }
    &__list-item {
      border-bottom: 0;
    }
    &__link {
      margin: 0;
    }
  }
}

