@mixin flexBetween() {
  display: flex;
  justify-content: space-between;
}

@mixin capitalText () {
  text-transform: uppercase;
  font-family: $ff;
}

@mixin postHeader () {
  font-weight: 700;
  font-family: $ff;
  color: $postHeaderColor;
}

@mixin postDetailed () {
  font-family: $ff;
  margin-top: 10px;
  font-size: 12px;
  color: $postDetailedColor;
}

@mixin postText () {
  font-family: $ff;
  margin-top: 10px;
  line-height: 26px;
  font-size: 14px;
  color: $postTextColor;
}

@mixin footerIcons($color) {
  border-color: $color;
  color: $color;
}
