.posts-header {
  @include capitalText ();
  font-weight: 700;
  color: #4E4E4E;
  margin-top: 66px;
}


@include rwd($small) {
  .recent-posts {
    margin: 24px 0 69px 0;
    @include flexBetween();
    flex-direction: column;
    align-items: flex-start;
    &__description {
      margin-top: 20px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__info:nth-child(2) {
      margin-top: 32px;
    }
    &__header {
      @include postHeader ()
    }
    &__detailed {
      @include postDetailed ();
    }
    &__text {
      display: none;
    }
    &__block:nth-child(2) {
      margin-top: 32px;
    }
  }
}

@include rwd($medium) {
  .recent-posts {
    flex-direction: unset;
    flex-wrap: wrap;
  }
  .recent-posts__text {
    display: block;
    @include postText ();
  }
  .recent-posts__description {
    margin: 0 0 0 20px;
  }
  .recent-posts__info {
    flex-direction: row;
  }
}

@include rwd($large) {
  .recent-posts__block:nth-child(2) {
    margin-top: 0;
  }
}