@mixin rwd($screenWidth) {
  @if $screenWidth == $small {
    @media screen and (min-width: $breakpointPhone) {
      @content;
    }
  }
  @if $screenWidth == $medium {
    @media screen and (min-width: $breakpointTablet) {
      @content;
    }
  }
  @if $screenWidth == $large {
    @media screen and (min-width: $breakpointDesktop) {
      @content;
    }
  }
}