$ff: Roboto, sans-serif;
$hover-color: #57A4A4;
$postHeaderColor: #4E4E4E;
$postDetailedColor: #7C7C7C;
$postTextColor: #5C5C5C;
$small: phone;
$medium: tablet;
$large: desktop;
$breakpointPhone: 325px;
$breakpointTablet: 768px;
$breakpointDesktop: 1200px;
