html {
    overflow: hidden;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    perspective: 1px;
}

.header {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    width: 100vw;
    background-size: cover;
    position: relative;
}

/*Header-start*/
.header-container {
    position: relative;
    z-index: 2;
}

.header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header::after {
    background: url("../../img/header-bg.jpeg") center no-repeat;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateZ(-1px) scale(2.3) translateY(-70px);
    background-size: cover;
    z-index: -1;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1d2124;
    height: 70px;
}

.logo-cont {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
}

.logo {
    display: flex;
    padding: 0 20px;
    margin-right: 5px;
    height: 100%;
    background: #1a1d20;
}

.logo img {
    margin: auto;
}

.logo-text {
    color: #fff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    list-style-type: none;
    margin: 0 18px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.search {
    display: flex;
    cursor: pointer;
    background: #171a1c;
    height: 100%;
    color: #fff;
    padding: 0 25px;
}

.search  .fa-search {
    margin: auto;
}

.header-cont {
    display: flex;
    flex-direction: column;
    padding: 127px 0 145px 0;
    align-items: center;
}

.header-text {
    text-transform: uppercase;
    color: #fff;
    font-size: 28px;
}

.header-btns {
    margin-top: 44px;
}

.header-btns button {
    width: 170px;
    padding: 20px 0;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.subsc-btn {
    background: #89ca62;
    margin-right: 20px;
}

.articles-btn {
    background: #14b9d5;
}
/*Header-end*/

/*MAIN start*/
/*pop-posts start*/
.pop-posts {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    padding: 50px 0;
    background: #f2f2f2;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.posts-header, .tr-header, .news-header {
    text-transform: uppercase;
    margin-bottom: 52px;
    color: #18b4cf;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.flex-cont {
    display: flex;
    justify-content: space-between;
}

.post-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.post-card-text {
    display: block;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}
/*pop-posts end*/
/*pop-clients start*/
.pop-clients {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    padding: 200px 0;
    position: relative;
}

.pop-clients::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.pop-clients::after {
    background: url("../../img/parallax-bg.jpeg") center top no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateZ(-1px) scale(2.3);
    z-index: -1;
}

.pop-clients .container {
    position: relative;
    max-width: 880px;
    z-index: 2;
}

.clients-header {
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.line {
    margin: 52px auto 0 auto;
    width: 60px;
    height: 3px;
    background: #169cb4;
}

.grid-cont {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}
/*pop-clients-end*/
/*top rated start*/
.top-rated {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    padding-top: 60px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gallery-image img {
    width: 100%;
}
/*top rated end*/
/*hot news start*/
.hot-news {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    padding: 60px 0 70px 0;
}

.grid-news {
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px 35px;
    grid-template-areas:
        "grid1 grid1 grid1 grid2"
        "grid3 grid3 grid4 grid4"
        "grid5 grid5 grid6 grid6"
        "grid7 grid8 grid8 grid8";
}

.grid-news h3 {
    font-weight: 700;
}

.grid-news-bigger, .grid-news-smaller, .grid-news-equal {
    background: #f9f7f7;
}

.grid-news-bigger {
    display: flex;
    align-items: center;
    text-align: right;
}

.bigger-image {
    margin-right: 30px;
    height: 100%;
}

.news-text {
    padding-right: 27px;
}

.news-desc {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(91, 100, 105, 255);
}

.smaller-image {
    margin-bottom: 14px;
}

.grid-news-smaller h3 {
    text-align: center;
}

.grid-news-equal {
    text-align: right;
    padding-bottom: 20px;
}

.equal-image {
    width: 100%;
    margin-bottom: 20px;
}

.grid-area1 {
    grid-area: grid1;
}

.grid-area2 {
    grid-area: grid2;
}

.grid-area3 {
    grid-area: grid3;
}

.grid-area4 {
    grid-area: grid4;
}

.grid-area5 {
    grid-area: grid5;
}

.grid-area6 {
    grid-area: grid6;
}

.grid-area7 {
    grid-area: grid7;
}

.grid-area8 {
    grid-area: grid8;
}
/*hot news end*/
/*MAIN end*/
/*footer start*/
.footer {
    font-family: ﻿AdobeInvisFont, ﻿OpenSans, ﻿Courier, sans-serif;
    height: 80px;
    background: #1d2124;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 110px;
    align-items: center;
    height: 100%;
}

.footer-info {
    color: #fff;
    font-size: 12px;
}

.footer-logo {
    justify-self: end;
}
/*footer end*/
