.container {
    background: url("../img/rana-sawalha-364253-unsplash1X.jpeg");
    background-size: cover;
    height: 100vh;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
/*header-start*/
.header {
    background: rgba(0, 0, 0, .5);
}

.container-header {
    width: 80%;
    height: 56px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sprite {
    display: flex;
    align-self: center;
}

.general-sprite{
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: block;
    background: url("../img/spritesheet.png") no-repeat;
}

.forum .icon {
    background-position: -34px 0;
}

.journey .icon {
    background-position: -68px 0;
}

.calendar {
    margin-right: 14px;
}

.forum {
    margin: 0 14px;
}

.journey {
    margin: 0 25px 0 14px;
}

.general-sprite:hover {
    transition: all 1s;
}

.calendar .icon:hover {
    background-position: -97px 0;
}

.forum .icon:hover {
    background-position: -131px 0;
}

.journey .icon:hover {
    background-position: -165px 0;
}

.logo {
    align-self: center;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: ﻿Verdana-Bold, ﻿AdobeInvisFont, Courier, sans-serif;
    color: rgba(255, 255, 255, 255)
}

.logo:hover {
    color: #3cb878;
    transition: all 1s ease-out;
}

.welcome {
    padding-left: 25px;
    align-self: center;
    font-family: ﻿﻿AdobeInvisFont, Verdana, Courier, sans-serif;
    font-size: 18px;
    color: #fff;
    border-left: 1px solid #33302e;
}

.welcome a {
    color: #3cb878;
    text-decoration: none;
}
/*header-end*/
/*main-start*/
.main {
    position: relative;
    height: calc(100vh - 56px);
}
/*form-start*/
.container-form {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    border-radius: 10px;
}

.header-form, .form, .social-links {
    width: 322px;
    margin: 0 auto;
    position: relative;
}

.header-container {
    margin-top: 29px;
    display: flex;
    position: relative;
}

.square {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3cb878;
}

.header-form span:first-child {
    float: left;
    font-size: 22px;
    color: rgba(67, 67, 67, 255);
    font-family: ﻿﻿AdobeInvisFont, Verdana, Courier, sans-serif;

}

.header-form span:last-child {
    float: right;
    color: rgba(60, 184, 120, 255);
    font-family: ﻿﻿AdobeInvisFont, Verdana, Courier, sans-serif;
}

.social-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 46px;
    font-family: ﻿﻿AdobeInvisFont, Verdana, Courier, sans-serif;
    background: #305db8;
    border: none;
    border-radius: 5px;
}

.facebook:hover {
    background: #264b96;
    transition: all 2s ease-out;
}

.google-plus {
    display: flex;
    justify-content: center;
    width: 157px;
    height: 46px;
    font-family: ﻿﻿AdobeInvisFont, Verdana, Courier, sans-serif;
    background: #df4a32;
    border: none;
    border-radius: 5px;
}

.google-plus:hover {
    background: #c3412c;
    transition: all 2s ease-out;
}

.facebook p:first-child {
    align-self: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-right: 18px;
}

.facebook p:last-child {
    align-self: center;
    color: #fff;
    border-left: 1px solid #2b54a5;
    padding-left: 18px;
}

.facebook:hover p:last-child  {
    border-left: 1px solid #224387;
    transition: all 2s ease-out;
}

.google-plus p:first-child {
    align-self: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.google-plus p:nth-child(2) {
    align-self: center;
    color: #fff;
    font-size: 12px;
    margin-right: 18px;
    font-weight: 700;
}

.google-plus p:last-child {
    align-self: center;
    color: #fff;
    border-left: 1px solid #c8422d;
    padding-left: 18px;
}

.google-plus:hover p:last-child {
    border-left: 1px solid #af3a28;
    transition: all 2s ease-out;
}

.form {
    margin-top: 33px;
    position: relative;
}

.form input:not(.checkbox) {
    margin-top: 9px;
    width: 100%;
    padding: 18px 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    text-indent: 17px;
    color: rgba(67, 67, 67, 255);
}

.fields {
     border-top: 1px solid #eaeaea;
 }

.legend {
    margin: 0 auto 9px auto;
    padding: 0 18px;
}

.first-name {
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.form input::placeholder {
    text-indent: 17px;
    color: #e5e5e5;
    font-family: ﻿﻿AdobeInvisFont, Verdana, Courier, sans-serif;
}

.form input:focus {
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    outline: none;
}

.agreement {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.agreement a {
    color: #3cb878;
    text-decoration: none;
}

.agreement a:hover, .header-form span:last-child:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid #3cb878;
}

.agreement .checkbox {
    display: none;
}

.agreement .checkbox:checked~.custom-checkbox:after {
    content: "\2713";
    font-size: 20px;
    font-weight: 700;
    color: #3cb878;
}

.custom-checkbox {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.custom-checkbox:after {
    content: "";
    position: absolute;
    top: 1px;
    right: 4px;
    left: 3px;
    transition: all linear 0.3s;
}

.account {
    font-family: ﻿﻿AdobeInvisFont, Verdana, Courier, sans-serif;
    font-size: 18px;
    margin: 28px 0 32px 0;
    width: 100%;
    height: 46px;
    background: #3cb878;
    color: #fff;
    border: none;
    border-radius: 5px;
}
/*
form-end*/
