@font-face {
    font-family: "NewsGothicBold";
    font-weight: 700;
    src: url(../fonts/NewsGothicBold.otf) format("opentype");
}

.wrapper {
    background: #000;
    color: #ffff00;
    overflow: hidden;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    height: 100vh;
    perspective: 100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    animation: starwars-opening-crawl 30s infinite both;
    transform-origin: top;
}

.header-first {
    font-family: "NewsGothicBold", sans-serif;
    font-size: 34px;
}

.header-second {
    font-family: "NewsGothicBold", sans-serif;
    margin: 20px 0;
}
.opening-crawl {
    font-family: "NewsGothicBold", sans-serif;
    text-align: justify;
    margin-bottom: 20px;
}

@keyframes starwars-opening-crawl {
    from {
        transform: translateZ(0) translateY(120%) scale(1.4) rotateX(14deg);
    }

    to {
        transform: translateZ(-200px) translateY(-100%) scale(1.4) rotateX(14deg);
    }
}