/*common*/
.container-global {
    background: url("../img/background1X.jpeg") center center no-repeat fixed;
    background-size: 100% 100%;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.container-global::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .73);
}


.container {
		box-sizing: border-box;
    position: relative;
    width: 1059px;
    margin: 0 auto;
    z-index: 1;
    font-family: AdobeInvisFont, Courier, Verdana, sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clearfix-r::after {
    content: "";
    display: block;
    clear: right;
}
/*endcommon*/

/*startheader*/

.header {
    margin-top: 49px;
}

.logo-href {
    display: block;
    color: inherit;
}

.logo {
    float: left;
    width: 46px;
    height: 44px;
    margin-right: 15px;
    background: url("../img/logo1X.png");
}

.logo-text {
    height: 44px;
    float: left;
    text-transform: uppercase;
    font-weight: 700;
}

.logo-text p:first-child {
    font-size: 29px;
}

.logo-text p:last-child {
    font-size: 18px;
}

.email-phone {
    float: right;
    text-align: right;
    line-height: 1.25;
    font-size: 18px;
}

/*endheader*/

/*startmain*/
.tours .container {
    margin-top: 48px;
    width: 1059px;
}

.tours a {
    text-decoration: none;
    color: inherit;
    float: left;
    display: block;
}

.desc {
    margin-top: 22px;
    text-align: center;
    font-size: 18px;
}

.card-1, .card-4 {
    margin-right: 33px;
}

.card-2, .card-5 {
    margin: 0 33px 0 33px;
}

.card-3, .card-6 {
    margin-left: 32px;
}

.card-4, .card-5, .card-6 {
    margin-top: 58px;
}

.img-box img {
    position: relative;
    border: 1px solid transparent;
    background: linear-gradient(to top left, red, green, blue);
}

.price {
    float: left;
    margin: 15px 0 0 21px;
    font-size: 13px;
}

.view-det {
    float: right;
    font-size: 16px;
    margin: 35px 18px 0 0;
}

.view-det::after {
    content: "\003E";
    margin-left: 15px;
}

.img-box {
    max-height: 202px;
    position: relative;
    overflow: hidden;
}
/*endmain*/

/*startfooter*/
.footer {
    margin: 61px 0 20px 0;
    text-align: center;
}

.copyright {
    font-size: 16px;
}

.hover-block {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 63px;
    background: #f26522;
    font-size: 14px;
    color: #fff;
}

.tours a:hover .hover-block {
    transform: translateY(-100%);
    transition: all 3s ease-out;
}

.tours a:hover .desc {
    color: #f26522;
}

.price p:last-child {
    font-weight: 700;
    font-size: 26px;
}

.logo-href:hover .logo {
    background: url("../img/logo_hover.png");
}

.logo-href:hover {
    color: #f26522;
}
/*endfooter*/
