.btn-modal {
    &_first, &_second {
        border-radius: 25px;
        font-size: 18px;
        color: #fff;
        border: none;
        outline: none;
        padding: 10px 25px;
        &_submit, &_cancel {
            width: 102px;
            height: 42px;
            border: none;
            border-radius: 5px;
            color: #fff;
            background: #B3382C;
        }
        &_submit {
            margin-right: 24px;
        }
    }
    &_first {
        margin-right: 24px;
    }
    &_second_submit, &_second_cancel {
        @extend .btn-modal_first_submit;
        color: #000;
        background: #627096;
    }
}

.btn_modal_wrapper {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -209px;
    z-index: -1;
  } 