@font-face {
    font-family: Arimo;
    font-weight: 400;
    src: url(../fonts/ArimoRegular/Arimo-Regular.eot) format("embedded-opentype"),
    url(../fonts/ArimoRegular/Arimo-Regular.svg) format("svg"),
    url(../fonts/ArimoRegular/Arimo-Regular.ttf) format("truetype"),
    url(../fonts/ArimoRegular/Arimo-Regular.woff) format("woff"),
    url(../fonts/ArimoRegular/Arimo-Regular.woff2) format("woff2");
}

@font-face {
    font-family: Arimo;
    font-weight: 700;
    src: url(../fonts/ArimoBold/Arimo-Bold.eot) format("embedded-opentype"),
    url(../fonts/ArimoBold/Arimo-Bold.svg) format("svg"),
    url(../fonts/ArimoBold/Arimo-Bold.ttf) format("truetype"),
    url(../fonts/ArimoBold/Arimo-Bold.woff) format("woff"),
    url(../fonts/ArimoBold/Arimo-Bold.woff2) format("woff2");
}

.table-2 {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: Arimo, sans-serif;
    border: 22px solid #3a4965;
    text-align: center;
    color: #737373;
    background: #fafafa;
    border-collapse: collapse;
    text-transform: uppercase;
}

.row {
    box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.pricing-plan, .plan-name, .pricing-header, .service, .tariff-price {
    vertical-align: middle;
}

.plan-list {
    width: 198px;
}

.storage-col, .email-col, .products-col {
    background: #e3e3e3;
    width: 157px;
}

.bandwidth-col, .support-col, .users-col {
    background: #f2f2f2;
    width: 157px;
}

.pricing-header {
    padding: 25px 0;
}

.pricing-header div:first-child {
    font-size: 14px;
    font-weight: 700;
    color: #484848;
}

.pricing-header div:last-child {
    font-size: 20px;
    font-weight: 700;
    color: #484848;
    margin-top: 5px;
}

.tariff-price {
    padding: 15px 0;
}

.service {
    font-size: 18px;
    color: #484848;
}

.service div:last-child {
    margin-top: 5px;
}

.fas, .far {
    font-size: 22px;
}

.plan-name div:last-child {
    font-weight: 700;
    font-size: 18px;
    color: #484848;
    margin-top: 5px;
}

.tariff-name {
    margin-bottom: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.integer-part, .fraction-part, .regularity {
    display: inline-block;
    color: #fff;
    font-weight: 700;
}

.integer-part {
    font-size: 36px;
}

.fraction-part {
    font-size: 18px;
    vertical-align: top;
    padding-top: 5px;
}

.regularity {
    font-size: 14px;
    vertical-align: super;
}

.buy-btn {
    margin-top: 18px;
    text-transform: uppercase;
    background: #414141;
    color: #fff;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #343434;
    width: 144px;
    height: 41px;
    font-weight: 700;
    padding-top: 8px;
    outline: none;
    transition: all 1s ease-in-out;
}

.background1 {
    background: #89c331;
}

.background2 {
    background: #f04a56;
}

.background3 {
    background: #20807c;
}

.buy-btn:hover {
    transform: skew(15deg);
}