* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --menu-button-color: #16A085;
    --text-color: #373737;
    --letter-case: uppercase;
}


.menu .list {
    display: flex;
    justify-content: center;
}

.list .list-item {
    list-style-type: none;
    padding: 0;
    margin: 32px 35px 35px 35px;
    text-transform: var(--letter-case);
    font: bold 18pt "Roboto-Black", sans-serif;
}

.anchor {
     color: var(--menu-button-color);
     text-decoration: none;
 }

.menu .anchor:hover {
    color: orangered;
    transition: all 1s ease-out;
}

.image {
    width: 100%;
}

.main {
    background: #f5f6f7;
    text-align: center;
}

.wrapper, .footer {
    width: 1200px;
    margin: 0 auto;
}

.wrapper .h2 {
    margin: 56px 0 34px;
    text-transform: var(--letter-case);
    font: bold 22pt "Roboto-Black", sans-serif;
    color: var(--text-color);
}

.paragraph {
    position: relative;
    font: bold 16pt "Roboto-Black", sans-serif;
    color: var(--text-color);
}

.paragraph:last-of-type {
    margin-top: 41px;
}

.button {
    text-transform: var(--letter-case);
    background: var(--menu-button-color);
    color: #fff;
    width: 192px;
    height: 51px;
    padding-top: 5px;
    margin: 41px 0 141px;
    font: 12pt "GothamRounded-Bold", sans-serif;
    border: 0;
    border-radius: 5px;
}

.button:hover {
    background: darkmagenta;
    transform: scale(1.5);
    transition: all 3s ease-out;
}

.footer {
    font: bold 16pt "Roboto-Black", sans-serif;
    text-align: right;
    color: var(--text-color);
}

.footer .copyright {
    display: inline-block;
    margin: 47px 0 49px;
}
