.modal {
        width: 530px;
        height: 253px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -70%);    
        background: #E74C3C;
    &_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &_header {
        background: #D44637;
        padding-left: 25px;
        height: 69px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & span {
            color: #fff;
            font-size: 22px;
        }
    }
    &_text {
        margin-top: 39px;
        text-align: center;
        padding: 0 31px;
        color: #fff;
        font-size: 15px;
    }
    &_footer {
        margin-top: 34px;
        display: flex;
        justify-content: center;
    }
    &-btn_submit, &-btn_cancel {
        width: 102px;
        height: 42px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        color: #fff;
        background: #B3382C;
        margin-right: 24px;
    }
}

.close {
    position: relative;
    z-index: 100;
    right: 30px;
    width: 30px;
    height: 30px;
    &::before, &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 30px;
      width: 1px;
      background-color: #fff;
      }
      &::before {
        transform: rotate(50deg);
        }
        &::after {
          transform: rotate(-50deg);
          }
    }

.popup-fade::before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
}