.container {
    width: 1280px;
    margin: 0 auto;
}

:root {
    --ff: ﻿MyriadPro-Regular, sans-serif;
}

/* header start */

.ramda-header {
    font-family: var(--ff);
    margin-top: 61px;
    font-size: 80px;
    color: rgba(0, 0, 0, 255);
}

.ramda-header span {
    color: #4bcaff;
}

.nav-header {
    background-color: #35444f;
    margin-top: 45px;
    font-family: var(--ff);
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
}
.nav-header ul {
    width: 70%;
    margin: 0 auto;
}

.nav-header li {
    display: inline-block;
    list-style-type: none;
    padding: 26px 41px 26px 41px;
}

.nav-header li:hover {
    background-color: #222f3a;
    outline: 1px solid #818181;
}

.ramda-header a, .nav-header a {
    text-decoration: none;
    color: inherit;
}

/*header end*/

/*main part start*/

.main-menu {
    border: 1px solid #35444f;
    display: inline-block;
    vertical-align: top;
    margin-top: 51px;
    width: 344px;
    font-family: var(--ff);
    font-size: 24px;
    color: rgba(73, 88, 99, 255);
}

.aside-nav-menu li {
    padding: 30px 0 30px 42px;
}

.aside-nav-menu a {
    text-decoration: none;
    color: inherit;
}

.aside-nav-menu li:hover {
    background-color: #dbdbdb;
    color: #000;
    padding: 28px 0 28px 69px;
}

.content {
    display: inline-block;
    width: 885px;
    margin: 51px 0 0 43px;
}

.image {
    border: 1px solid #35444f;
    height: 529px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image:hover img {
    transform: scale(1.2);
    transition: all 3s ease;
}

.text {
    margin-top: 50px;
}

.text p {
    width: 90%;
    margin: 0 auto;
    font-family: var(--ff);
    font-size: 18px;
    color: rgba(44, 44, 44, 255);
}

.text p:last-of-type {
    margin-top: 30px;
}

/*main part end*/

/*footer start*/
.footer {
    margin: 51px 0 30px;
}

.footer-flex {
    background-color: #b4b7ba;
    display: flex;
    justify-content: space-between;
}

.footer-nav-menu {
    display: inline-block;
    width: 65%;
}

.footer-nav-menu ul {
    margin-left: 34px;
}

.footer-nav-menu li {
    display: inline-block;
    list-style-type: none;
    font-family: var(--ff);
    padding: 22px 0 21px 0;
    margin: 0 10px;
    font-size: 24px;
    color: rgba(12, 25, 39, 255);
}

.footer-nav-menu a {
    text-decoration: none;
    color: inherit;
}

.footer-nav-menu a:hover {
    color: #3181a6;
    line-height: 1;
    padding-bottom: 3px;
    border-bottom: 1px solid #3181a6;
}

.copyright {
    align-self: center;
    margin-right: 34px;
    font-size: 20px;
}

/*footer end*/
