.modal {
    &_wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    width: 517px;
    height: 253px;
    align-self: center;
    &_first {
        background: #E74C3C;
        &_header {
            background: #D44637;
            padding-left: 31px;
            height: 69px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            & span {
                color: #fff;
                font-size: 22px;
            }
        }
        &_text {
            margin-top: 39px;
            text-align: center;
            padding: 0 31px;
            color: #fff;
            font-size: 15px;
        }
        &_footer {
            margin-top: 34px;
            display: flex;
            justify-content: center;
        }
    }
    &_second {
        background: #36c024;
        &_header {
            @extend .modal_first_header;
            background: rgb(54, 47, 47);
            & span {
                color: #fff;
                font-size: 22px;
            }
        }
        &_text {
            @extend .modal_first_text;
            color: #000;
        }
        &_footer {
            @extend .modal_first_footer
        }
    }
}

.close {
    position: relative;
    z-index: 100;
    right: 30px;
    width: 30px;
    height: 30px;
    &::before, &::after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 30px;
      width: 1px;
      background-color: #fff;
      }
      &::before {
        transform: rotate(50deg);
        }
        &::after {
          transform: rotate(-50deg);
          }
    }

.popup-fade::before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: -1;
}